.table-small {
  font-size: 16px;
  width: gutter(40);

  thead {
    font-size: 16px;
    font-weight: $bold;
    border-bottom: 1px solid #dee2e6;

    th {
      border: 0;
      padding: gutter(0.8) gutter(2);
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: $gray;
      }
    }

    td {
      padding: gutter(0.5) gutter(2);
    }
  }

  &__icons {
    img {
      height: gutter(2);
      width: auto;

      &:first-of-type {
        margin-right: gutter(0.8);
      }
    }
  }
}

.nav-tabs {
  max-width: gutter(40);
  margin-bottom: gutter(1);
  border-color: $primary;

  .nav-link {
    color: $black;
    border-radius: 0;

    &:hover {
      border-color: rgba($primary, 0.2);
      color: $primary;
    }

    &.active {
      background-color: $bg;
      border-color: $primary $primary $bg;
      color: $primary;

      @include media("<md") {
        background-color: $bg-dark;
        border-color: $primary $primary $bg-dark;
      }
    }
  }
}
