.wooarchive {
  &__products {
    .product-category {
      background-color: $white;
      padding: gutter(1.5);
      display: flex;
      justify-content: center;
      transition: $transition;
      box-shadow: 0 6px 15px rgba($black, 0.04);

      &:hover {
        background-color: lighten($bg, 1);
        transform: translateY(-5px);

        .woocommerce-loop-category__title {
          color: $primary;
        }
      }

      a {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: gutter(6) gutter(2);
        text-align: center;

        img {
          display: block;
          height: gutter(15);
          object-fit: contain;
          object-position: center;
          margin: auto;
        }

        h2 {
          display: block;
          color: $black;
          font-size: 24px;
          padding-top: gutter(4);
          text-align: center;
          transition: $transition;
        }

        .count {
          display: none;
        }
      }
    }
  }
}

