.woocommerce-breadcrumb {
  margin: 0 0 gutter(3) !important;
  color: $primary !important;

  a {
    color: $primary !important;
  }
}

.wooarchive {
  display: grid;
  grid-template-columns: gutter(35) auto;
  font-family: $font-main;

  &--full {
    grid-template-columns: auto;
  }

  &__categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    grid-gap: gutter(2);
    padding: gutter(2) 0;

    .product-category {
      background-color: $white;
      padding: 0;
      display: flex;
      justify-content: center;
      transition: $transition;
      box-shadow: 0 6px 15px rgba($black, 0.04);

      &:hover {
        background-color: lighten($bg, 1);
        transform: translateY(-5px);

        .woocommerce-loop-category__title {
          color: $primary;
        }
      }

      a {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: gutter(6) gutter(2);
        text-align: center;

        img {
          display: block;
          height: gutter(20);
          object-fit: contain;
          object-position: center;
          margin: auto;
        }

        h2 {
          display: block;
          color: $black;
          font-size: 24px;
          padding-top: gutter(4);
          text-align: center;
          transition: $transition;
        }

        .count {
          display: none;
        }
      }
    }
  }

  // &__grid {
  //   width: auto;
  // }

  &__products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    grid-gap: gutter(2);
    text-align: center;

    &-cover {
      width: gutter(20);
      height: gutter(20);
      overflow: hidden;
      margin: auto;
      transition: $transition;
    }

    .product {
      background-color: $white;
      padding: gutter(5);
      display: flex;
      flex-direction: column;
      justify-content: center;

      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-decoration: none;

        &:hover {
          h2 {
            color: $primary;
          }

          .wooarchive__products-cover {
            transform: translateY(-4px);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: top;
        }
      }

      .woocommerce-loop-product__title {
        font-size: 24px;
        color: $black;
        padding-top: gutter(2);
        font-family: $font-title;
        min-height: gutter(12);
        display: block;
        transition: $transition;
      }

      .amount {
        position: relative;
        color: $info;
        font-size: 22px;
        padding: gutter(2) 0 gutter(1);
        display: inline-block;
        transition: $transition;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          margin: auto;
          width: gutter(15);
          height: 1px;
          display: block;
          background-color: $bg-dark;
        }
      }

      .button {
        color: $white;
        font-size: 1rem;
        font-family: $font-main;
        padding: gutter(1) gutter(3);
        margin-top: gutter(2);
        display: inline-block;
        background-color: $primary;
        text-transform: uppercase;
        border-radius: 0;
        cursor: pointer;
        outline: 0;

        &:hover {
          background-color: $primary-light;
          color: $white;
        }
      }
    }
  }
}
