.store__info {
  .woocommerce {
    &-Price-amount {
      color: red;
      font-weight: bold;
      font-size: 24px;
      padding: gutter(2) 0;
      display: inline-block;
    }
  }

  .product_title {
    font-weight: $bold;
    font-family: $font-title;
  }

  .posted_in {
    display: none;
  }

  .cart {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    .input-text {
      height: gutter(4.7);
      border-radius: 0;
      border: 2px solid $primary;
      padding-left: gutter(1.6);
    }

    select {
      height: gutter(4.7);
      border-radius: 0;
      border: 2px solid $primary;
      padding: 0 gutter(1);
      margin-right: gutter(1.5);
    }

    .button-wo {
      margin: 0;
      outline: 0;
      border: 0;
    }

    .quantity {
      margin-right: gutter(2);
      position: relative;

      &.hidden {
        margin-right: 0;
      }

      &::before {
        content: "Ilość";
        position: absolute;
        bottom: calc(100% + 8px);
      }
    }
  }

  .variations_button {
    display: flex;
    align-items: flex-end;
  }

  .variations_form {
    display: block;
    align-items: flex-end;
  }

  .value {
    position: relative;
  }

  .reset_variations {
    position: absolute;
    left: 0;
    bottom: - gutter(3);
    display: none !important;
  }

  .woocommerce-variation.single_variation {
    margin-bottom: gutter(6);
  }

  .woocommerce-variation-add-to-cart {
    margin-top: gutter(5);
  }
}
