.button-variable-item {
  border: 2px solid $primary !important;
  box-shadow: none !important;
  margin: 0 gutter(0.8) 0 0 !important;

  &.selected {
    background-color: $primary !important;
    color: $white !important;
  }
}

.store__info .cart select {
  box-shadow: none !important;
  border-color: $primary !important;
  outline-color: $primary !important;
}

.variations {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: gutter(1);
}
